@import '@/variables';

.month__picker {
  width: 170px;
  height: 50px;
  border-color: $bg_secondary;
  box-shadow: 5px 5px 5px $description_primary-2;
  &:hover {
    border-color: $point_bg_primary;
  }
}
