@import '@/_variables.scss';

.container {
  width: 100%;
  height: 80px;
  background-color: $bg-grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  .des {
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $bg-black;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 20px;
  }
}
