html {
  overflow-y: scroll;
}

.container {
  display: flex;
  width: 100%;
  padding-top: 100px;
  justify-content: center;
}

.table {
  width: 1100px;
}

.th, .td {
  text-align: center;
  padding: 8px;
  line-height: 2;
  border-bottom: 1px solid #e3dede;
}

.th {
  background-color: #e3dede;
  font-weight: bold;
}

.tr:hover {
  background-color: #e3dede;
}

.delete {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.approve {
  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.searchPaginationWrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.searchInput {
  width: 20%;
  padding: 0.5rem;
  margin: 1rem 1rem 1rem 0;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: all 0.3s;

  :focus {
    border-color: #495057;
    outline: none;
  }
}


