.container {
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.contentWrapper {
  width: 1100px;
}

.caption {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.searchInput {
  width: 30%;
  padding: 0.5rem;
  margin: 1.5rem 1rem 0 0;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: all 0.3s;

  :focus {
    border-color: #495057;
    outline: none;
  }
}
.h2 {
  font-size: 32px;
  margin: 30px 0 10px 0;
}

.tableWrapper {
  max-height: calc(8.35 * 40px);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.table {
  width: 1100px;
}

.thead {
  position: sticky;
  top: 0;
}

.th, .td {
  text-align: center;
  padding: 8px;
  line-height: 2;
  border-bottom: 1px solid #e3dede;
}

.th {
  background-color: #e3dede;
  font-weight: bold;
}

.tr:hover {
  background-color: #e3dede;
}

.delete {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.approve {
  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  cursor: pointer;
}
